<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

    <style>
        .app-container {
            height: 100vh;
            width: 100%;
        }

        .complete {
            text-decoration: line-through;
        }
    </style>

    <script>
        const xhr = new XMLHttpRequest();
        var content = '';
        var content2 = '';
        xhr.open('get', 'http://localhost:3000/api/index.php/todo', true);
        xhr.send();
        xhr.onload = function () {
            console.log(xhr.responseText);
            console.log(JSON.parse(this.responseText));
            var x = JSON.parse(this.responseText);
            // document.querySelector('#consume_webservice').innerHTML = xhr.responseText;
            for (let i = 0; i < x.length; i++) {
                content += "<tr>" + "<td>" + (i + 1) + "</td>" + "<td>" + x[i].task + "</td>" + "<td>" + x[i].status + "</td>" +
                    "<td>" + x[i].target + "</td>" + "</tr>";
                content2 = x[i].username;
            }
            document.getElementById("item").innerHTML = content;
            document.getElementById("user").innerHTML = content2;
        }
    </script>
</head>

<body>
    <div class="app-container d-flex align-items-center justify-content-center flex-column" ng-app="myApp"
        ng-controller="myController">
        {{ task_name }}
        <h3>Todo App - Add Task</h3>
        <div class="d-flex align-items-center mb-3">
            <div class="form-group mr-3 mb-0">
                <form action="" onsubmit="submitFormData(this)" id="frmdata">
                    <input ng-model="yourTask" type="text" class="form-control" id="task" name="task"
                        placeholder="Enter a task here" />
                    <input ng-model="yourTask" type="date" class="form-control" id="target" name="target"
                        placeholder="Enter a task here" />
            </div>
            <button type="submit" class="btn btn-primary mr-3" ng-click="saveTask()">
                Save
            </button>
            </form>
            <a href="test.html"><button type="button" class="btn btn-warning" ng-click="getTask()">
                    View All Tasks
                </button></a>
        </div>

        <p id="user"></p>
        <div class="table-wrapper">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Todo item</th>
                        <th>status</th>
                        <th>Target</th>
                    </tr>
                </thead>
                <tbody id="item">

                </tbody>
            </table>
        </div>
    </div>
    <script>
        // handle form submit
        function submitFormData(event) {

            // form values
            var task = event.task.value;
            var username = "Mahfudh";
            var status = "pending";
            var target = event.target.value;


            var data = new FormData();
            data.append('task', task);
            data.append('username', username);
            data.append('status', status);
            data.append('target', target);


            var http = new XMLHttpRequest();

            var url = 'http://localhost:3000/api/index.php/todo';
            http.open('post', url);

            http.onreadystatechange = function () {
                if (http.readyState == 4 && http.status == 200) {
                    // alert("Form submitted successfully");
                    // document.getElementById("frmdata").reset();
                    console.log(http.responseText);
                }
            }
            http.send(data);
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>